.video-container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video{
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  z-index: -1;
  height: 100%;
}

.banner-button{
  height: 52px;
  width: 200px;
  position: absolute;
  bottom: 100px;
  font-size: 17px;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.banner-button:hover{
  scale: 1.1;
}

.banner-text{
  width: 100%;
  justify-content: center;
  align-items: center;
  color: aqua;
}

.banner-text > h2{
  font-size: 40px;
  text-align: center;
}

.banner-text > p{

}


@media screen and (max-width: 530px) {

  .video-desktop{
    display: none;
  }

  .video-mobile{
    display: block;
  }

  .banner-button{
    bottom: 170px;
  }
}

@media screen and (min-width: 529px) {

  .video-desktop{
    display: block;
  }

  .video-mobile{
    display: none;
  }
}

