:root{
  --purple: #252262;
  --green: #B8EA14;
}

.contact-container{
  padding-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-info{
  height: 120px;
  margin-bottom: 10px;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

.contact-info h3{
  height: 40px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-bottom: 15px;
}

.contact-info p{
  text-align: justify;
  font-size: 18px;
}

.contact-logo{
  position: absolute;
  top: 100px;
  left: 385px;
}


